In [1]:
a=3
b=5
print(a+b)

8

In [2]:
x=1
y=10
x=x+y
y=x-y
x=x-y
print(x)
print(y)

10
1

In [3]:
x=1
y=10
x,y = y,x
print(x)
print(y)

10
1

平行設定

In [4]:
x,y,z=3,4,5
print(x)
print(y)
print(z)

3
4
5

In [5]:
x,y,z=3,4,5
x += 1
y *= 2
z **= 3
print(x,y,z)

4 8 125

#變數的應用
Q: 邊長3,4,5的三角形,其面積大小為何?

In [6]:
import math
d=math.sqrt(((3+4+5)/2)*(((3+4+5)/2)-3)*(((3+4+5)/2)-4)*(((3+4+5)/2)-5))
print(d)

3

In [7]:
import math
d=math.sqrt(((3+4+5)/2)*(((3+4+5)/2)-3)*(((3+4+5)/2)-4)*(((3+4+5)/2)-5))
print(d)

6.0

In [8]:
import math
a,b,c=3,4,5
s=(a+b+c)/2
d=math.sqrt(s*(s-a)*(s-b)*(s-c))
print(d)

6.0

動態類型

In [9]:
x=254
print(type(x))
id(x)

<class 'int'>

140725400621808

In [10]:
x='write'
print(type(x))
id(x)

<class 'str'>

2009658781912

數值資料的計算

In [11]:
#半徑為4.5,高度為4.5的圓錐體面積為何?
import math
print((4.5*4.5*math.pi*4.5)/3)

95.42587685278995

In [12]:
x=16
y=3
print(x/y)
print(x//y)  #求商
print(x%y)   #求餘數

5.333333333333333
5
1

In [13]:
#關係運算
X=10
print(20==20)
y=20
print(x==y)
x=y
print(x)

True
False
20

In [14]:
#級聯比較
a,b,c=10,20,30
print(a<=b<=c)

True

In [15]:
x=3.141592627
print(x-3.14)  #比正確之值略小

0.0015926269999999576

In [16]:
#邏輯運算 以閏年為例
y=2010
print(y%4==0 and y%100!=0 or y%400==0)
y=2012
print(y%4==0 and y%100!=0 or y%400==0)
y=2000
print(y%4==0 and y%100!=0 or y%400==0)

False
True
True

In [19]:
#型態轉換
x=12
y=float(x)+0.5
print(y)
print(int('123'))
print(float('123'))
print(int(123,333))
x=10*3.25  #32.5
y=200*200  #40000
s='The value of x is ' + str(x) + ' and y is ' + str(y)
s1='The value of x is ' + repr(x) + ' and y is ' + repr(y)
print(s)
print(s1)

12.5
123
123.0

ValueError: int() base must be >= 2 and <= 36, or 0

In [20]:
#非內置模組
import math
print(math.pi)
print(math.pow(2,3))
print(8.3*10.58*math.sin(37.0/180*math.pi)/2)
print(math.sqrt(25))

3.141592653589793
8.0
26.423892221536985
5.0

In [21]:
#算園面積
import math
r=input("請輸入圓面積:")
area=float(r) * float(r) * math.pi
print("圓面積為:" , area)

請輸入圓面積:10
圓面積為: 314.1592653589793

#20190411 #python物件
list, tuple, dict, sets
list: [1,2,3]
tuple: (1,2,3) 不能改變其值
dict:{1:'apple', 2:'banana', 3:'orange'}
sets:{apple, banana, orange}

In [1]:
#List串列
my_list0 = [1,2,3]
print(my_list0)
my_list1 = ['python', 'js', 'SQL']
print(my_list1[0])
my_list1.append('java')
print(my_list1)

[1, 2, 3]
python
['python', 'js', 'SQL', 'java']

In [2]:
#新增至指定位置
my_list1.insert(0,'c#')
print(my_list1)
#List長度
print(len(my_list1))

['c#', 'python', 'js', 'SQL', 'java']
5

In [4]:
my_list2 = ['c#', 'python', 'js', 'SQL', 'java']
#List長度
print(len(my_list2))
print(len(my_list2[1]))

5
6

In [5]:
#List刪除
my_list3 = ['c#', 'python', 'js', 'SQL', 'java']
my_list3.remove('js') #刪除某特定物件
print(my_list3)
del my_list3[0] #刪除某特定位置物件
print(my_list3)
del my_list3[-1] #-1指的是從最後面數來第一個位置
print(my_list3)

['c#', 'python', 'SQL', 'java']
['python', 'SQL', 'java']
['python', 'SQL']

In [6]:
#檢查是否存在
print('java' in ['python', 'in', 'c#'])

False

In [7]:
#串列的重複
a = [1,2]
print(a * 5)

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [8]:
#串列取值
a=[1,2,3,4,5,6,7,8,9]
b=a[0:3] #包含0,但不包含3
print(b)
c=a[0:9:2] #間隔取值 [開始:結束:間隔]
print(c)
del a[7:9]
print(a)
print(max(a)) #最大值
print(min(a)) #最小值
print(a.index(1)) #1出現的索引值
print(a.count(1)) #1出現的次數

[1, 2, 3]
[1, 3, 5, 7, 9]
[1, 2, 3, 4, 5, 6, 7]
7
1
0
1

In [10]:
print(a)
a.reverse() #串列反轉
print(a)
a.sort() #串列排序
print(a)

[1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7]

In [11]:
a=[123, 'abc', [111,222]]
print(a[0])
print(a[1])
print(a[2])
print(a[2][1])

123
abc
[111, 222]
222

In [12]:
#串列List常用在for迴圈
shoplist = ['milk', 'egg', 'coffee', 'watermelon']
for item in shoplist:
    print(item)

milk
egg
coffee
watermelon

#tuple(元組)
tuple的元素不能新增、刪除或修改

In [13]:
a_list=['python', 'js', 'c#']
a_tuple=('python', 'js', 'c#')
b_tuple=tuple(a_list)
print(type(a_list))
print(type(a_tuple))
print(b_tuple)

<class 'list'>
<class 'tuple'>
('python', 'js', 'c#')

dict (字典 - dictinary)
帶有鍵值(key)的list

In [14]:
a_list=['python', 'js', 'c#']
a_dict={0:'python', 1:'js', 2:'c#'}
print(a_list[0])
print(a_dict[0])
b_dict={'1st':'python', '2nd':'js', '3rd':'c#'}
print(b_dict['1st'])

python
python
python

# 第三章 流程控制

In [1]:
celsius=int(input('請輸入攝氏溫度：'))
fahrenheit=(9/5) * celsius + 32
print('華氏溫度：',fahrenheit)

請輸入攝氏溫度：20
華氏溫度： 68.0

In [2]:
import statistics as st
sample=[5,8,9,6,4,1,2,3,5,6]
print('樣本=',sample)
print('平均數=',st.mean(sample))
print('最大數=',max(sample))
print('最小數=',min(sample))
print('變異數=',round(st.variance(sample),2))
print('標準差=',round(st.stdev(sample),2))

樣本= [5, 8, 9, 6, 4, 1, 2, 3, 5, 6]
平均數= 4.9
最大數= 9
最小數= 1
變異數= 6.32
標準差= 2.51

# if

In [8]:
numA = int(input('請輸入numA：'))
numB = int(input('請輸入numB：'))
if numA < numB:
    print('numB是比較大的數')
elif numA > numB:
     print('numA是比較大的數')
else: 
    print('numA跟numB大小相同')

請輸入numA：4
請輸入numB：4
numA跟numB大小相同

# for迴圈

In [9]:
sum = 0
for i in range(1,11):
    sum =sum + i
print('總和：',sum)

總和： 55

In [16]:
sample=[5,8,9,6,4,1,2,3,5,6]
sum = 0
for i in sample:
    sum = sum + i
print('總和：',sum)

總和： 49

# In-class exercise隨堂練習

雞兔問題進行求解。若共有35個頭，94隻腳，問共有幾隻雞？幾隻兔？

In [15]:
head = 35
leg = 94
for rabbit in range(0, head+1):
    chicken = head - rabbit
    if((rabbit*4 + chicken*2) == 94):
        print('兔子有', rabbit, '隻')
        print('雞有', chicken, '隻')

兔子有 12 隻
雞有 23 隻

In [17]:
mylist = 'I love JayChou'
for character in mylist:
    print(character)

I

l
o
v
e

J
a
y
C
h
o
u

# while迴圈

# 1+2+3+...+10的總和

In [2]:
sum = 0
count = 1
while count <= 10:
    sum = sum + count # sum += count
    count = count +1 # count += 1
print("1+2+3+...+10 = ", sum)

1+2+3+...+10 =  55

# 銀行利息範例

In [3]:
x = 10000
year = 0
while x < 20000:
    year += 1
    x = x * 1.0104
print(str(year), "年後，存款金額會加倍")

67 年後，存款金額會加倍

# 帳號密碼程式

In [9]:
id = 'jay'
pwd = '0118'
while True:
    x = input('請輸入帳號：')
    y = input('請輸入密碼：')
    if (x == id and y == pwd):
        print('歡迎登入')
        break
    else:
        print('帳號或密碼輸入錯誤')

請輸入帳號：asd
請輸入密碼：123
帳號或密碼輸入錯誤
請輸入帳號：hay
請輸入密碼：0118
帳號或密碼輸入錯誤
請輸入帳號：jay
請輸入密碼：0118
歡迎登入

# break, continue, pass範例

In [10]:
mylist=['C#', 'Python', 'Java', 'C++']
for i in mylist:
    if i=='Java':
        break
    else:
        print(i)

C#
Python

In [11]:
mylist=['C#', 'Python', 'Java', 'C++']
for i in mylist:
    if i=='Java':
        continue
    else:
        print(i)

C#
Python
C++

In [12]:
mylist=['C#', 'Python', 'Java', 'C++']
for i in mylist:
    if i=='Java':
        pass
    else:
        print(i)

C#
Python
C++

In [13]:
import random
for i in range(0, 10):
    print(random.random())

0.9117161806960158
0.5902308568879004
0.7678042992372438
0.9208079694816762
0.2657416719304321
0.8040058797345426
0.19970425103173572
0.5738175325968138
0.6296874346756689
0.31102549210463526

In [17]:
import random
for i in range(0,10):
    print(random.randint(1,9))

9
4
6
1
7
1
6
9
4
3

In [18]:
import random
number = random.randint(1,99)
while True:
    guess = input('請輸入1-99的數字(q離開):')
    if guess == 'q':
        print('離開遊戲,正確數字是：', number)
        break
    else:
        if number == int(guess):
            print('恭喜,猜對了')
            break
        else:
            print('猜錯了')

請輸入1-99的數字(q離開):50
猜錯了
請輸入1-99的數字(q離開):q
離開遊戲,正確數字是： 94

# numpy套件

In [1]:
a_list=[1,2,3,4,5]
print(a_list*3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [3]:
#numpy套件ndarray型態,提供eLement-wise的操作
import numpy as np
a_ndarray = np.array([1,2,3,4,5])
print(a_ndarray*3)

[ 3  6  9 12 15]

In [6]:
print(type(a_ndarray))
print(a_ndarray.ndim) #ndarray的維度
print(a_ndarray.shape) #ndarray的shape
print(a_ndarray.dtype) #ndarray的資料型態

<class 'numpy.ndarray'>
1
(5,)
int32

In [5]:
z=np.zeros(6)
print(z) #六個元素都為0個1d ndarray
print(np.zeros((2,6))) #12個元素都為0個2d ndarray
print(np.empty((2,6,2))) #24個元素都未初始化的值
print(np.arange(10)) #10個元素為0-9的1d ndarray

[0. 0. 0. 0. 0. 0.]
[[0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]]
[[[1.08408424e-311 1.08408542e-311]
  [1.08408545e-311 1.08408545e-311]
  [1.08408545e-311 1.08408545e-311]
  [1.08408545e-311 1.08408545e-311]
  [1.08408545e-311 1.08408545e-311]
  [1.08408545e-311 1.08408545e-311]]

 [[1.08408545e-311 1.08408545e-311]
  [1.08408545e-311 1.08408545e-311]
  [1.08408545e-311 1.08408545e-311]
  [1.08408545e-311 1.08408545e-311]
  [1.08408545e-311 1.08408545e-311]
  [1.08408545e-311 1.08408545e-311]]]
[0 1 2 3 4 5 6 7 8 9]

In [7]:
my_array=np.arange(10)
print(my_array)
print(my_array[0])
print(my_array[0:5])

[0 1 2 3 4 5 6 7 8 9]
0
[0 1 2 3 4]

In [8]:
#2維ndarray取值
my_2d_array = np.array([np.arange(0,5), np.arange(5,10)])
print(my_2d_array)
print(my_2d_array[1,:]) #第二列資料
print(my_2d_array[:,1]) #第二欄資料
print(my_2d_array[1,1]) #第二列第二欄資料

[[0 1 2 3 4]
 [5 6 7 8 9]]
[5 6 7 8 9]
[1 6]
6

In [9]:
#假設有6個組別 "aaa" , "bbb", "ccc", "ddd", "eee", "fff"
#其參加人數分別為56, 8, 19, 14, 6, 71人
groups=["aaa" , "bbb", "ccc", "ddd", "eee", "fff"]
ironman = [56, 8, 19, 14, 6, 71]
groups_array=np.array(groups)
ironman_array=np.array(ironman)
print(groups_array)
print(ironman_array)

['aaa' 'bbb' 'ccc' 'ddd' 'eee' 'fff']
[56  8 19 14  6 71]

In [10]:
#用人數去篩選組別
print(ironman_array >= 10)
print(groups_array[ironman_array >= 10])
print(groups_array != "fff")
print(ironman_array[groups_array != "fff"])

[ True False  True  True False  True]
['aaa' 'ccc' 'ddd' 'fff']
[ True  True  True  True  True False]
[56  8 19 14  6]

# Ndarray轉置

In [11]:
my_1d_array=np.arange(10)
print(my_1d_array)
my_2d_array=my_1d_array.reshape((2,5))
print(my_2d_array)
print(my_2d_array.T)

[0 1 2 3 4 5 6 7 8 9]
[[0 1 2 3 4]
 [5 6 7 8 9]]
[[0 5]
 [1 6]
 [2 7]
 [3 8]
 [4 9]]

In [12]:
print(np.arange(24).reshape(4,6))

[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]
 [12 13 14 15 16 17]
 [18 19 20 21 22 23]]

In [13]:
#ndarray nan(空值/)
nan_array=np.array([56, 8, 19, 14, 6, np.nan])
print(nan_array)

[56.  8. 19. 14.  6. nan]

# 5/23

In [2]:
import pandas as pd
groups=["Modern Web","DevOps","Cloud","Big Data","Security","自我討戰組"]
ironman=[59,9,19,14,6,77]
ironman_dict={ 
             "groups":groups,
             "ironman":ironman
}
ironman_df=pd.DataFrame(ironman_dict)
ironman_df

       groups  ironman
0  Modern Web       59
1      DevOps        9
2       Cloud       19
3    Big Data       14
4    Security        6
5       自我討戰組       77

In [3]:
print(ironman_df.ndim)
print(ironman_df.shape)
print(ironman_df.dtypes)

2
(6, 2)
groups     object
ironman     int64
dtype: object

In [4]:
print(ironman_df.sum())
print(ironman_df.ironman.sum())
print(ironman_df.mean())
print(ironman_df.median)
print(ironman_df.describe)

groups     Modern WebDevOpsCloudBig DataSecurity自我討戰組
ironman                                           184
dtype: object
184
ironman    30.666667
dtype: float64
<bound method DataFrame.median of        groups  ironman
0  Modern Web       59
1      DevOps        9
2       Cloud       19
3    Big Data       14
4    Security        6
5       自我討戰組       77>
<bound method NDFrame.describe of        groups  ironman
0  Modern Web       59
1      DevOps        9
2       Cloud       19
3    Big Data       14
4    Security        6
5       自我討戰組       77>

In [5]:
import pandas as pd
import numpy as np
groups=["Modern Web","DevOps", np.nan,"Cloud","Big Data","Security","自我討戰組"]
ironman=[59,9,19,14,6,77,np.nan]
ironman_dict={ 
             "groups":groups,
             "ironman":ironman
}
ironman_df=pd.DataFrame(ironman_dict)
print(ironman_df.loc[:,"groups"].isnull()) #判斷那些組的組名是遺失值
print(ironman_df.loc[:,"ironman"].notnull()) #判斷哪些組的鐵人數不是遺失值

0    False
1    False
2     True
3    False
4    False
5    False
6    False
Name: groups, dtype: bool
0     True
1     True
2     True
3     True
4     True
5     True
6    False
Name: ironman, dtype: bool

In [6]:
a=ironman_df.dropna() #刪除空值
b=ironman_df.fillna(0) #空值補0
c=ironman_df.ironman.fillna(ironman_df.ironman.mean())

In [7]:
import pandas as pd

groups=["Modern Web","DevOps","Cloud","Big Data","Security","自我討戰組"]
ironman=[59,9,19,14,6,77]
#建立 data frame
ironman_df=pd.DataFrame(ironman, columns=["ironman"],index=groups)
ironman_df.sort_index()

            ironman
Big Data         14
Cloud            19
DevOps            9
Modern Web       59
Security          6
自我討戰組            77

In [8]:
ironman_df.sort_values(by="lronman")

KeyError: 'lronman'

# CH7 雲端載入

In [4]:
import pandas as pd
ur1="https://storage.googleapis.com/2017_ithome_ironman/data/iris.csv"

iris_df = pd.read_csv(ur1)
iris_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
iris_df.mean()

Sepal.Length    5.843333
Sepal.Width     3.057333
Petal.Length    3.758000
Petal.Width     1.199333
dtype: float64

In [6]:
iris_df['Sepal.Length'].median()

5.8

In [8]:
import pandas as pd
iris_df = pd.read_csv('iris.csv')
iris_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# excel檔案載入

In [9]:
import pandas as pd
ur1="https://storage.googleapis.com/2017_ithome_ironman/data/iris.xlsx"

iris_df = pd.read_excel(ur1)
iris_df.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# CH8 自訂函數

In [10]:
import math

def circle(radius):
    area = radius * radius * math.pi
    return area

print(circle(10))

314.1592653589793

In [11]:
import math

def circle(radius):
    area = radius * radius * math.pi
    return area
r = input("請輸入圓的半徑：")
print("圓面積為：",circle(float(r)))

請輸入圓的半徑：19.9
圓面積為： 1244.1021067480938

In [17]:
import random

def exchange_sort(input_list):
    a = input_list
    for i in range(0, len(input_list)-1):
        for j in range(i+1, len(input_list)):
            if a[i] > a[j]:
                a[i], a[j]=a[j], a[i]
    return a

my_vector = random.sample (range(0,100), 10)
print(my_vector)
print(exchange_sort(my_vector))

[93, 19, 38, 7, 55, 64, 16, 63, 74, 66]
[7, 16, 19, 38, 55, 63, 64, 66, 74, 93]

# Python 的 lambda函數

In [1]:
def circle(radius):
    return radius * radius * 3.14
print(circle(10))

314.0

In [2]:
def max(m,n):
    return m if m > n else n
print(max(10,3))

10

In [3]:
#Lambda寫法
max = lambda m,n: m if m > n else n
print(max(10,3))

10

In [4]:
#list * 5
a=[1,2,3,4,5]
print(a*5)
#numbpy * 5
import numpy as np
b=np.array(a)
print(b*5)
#lambda寫法
c=list(map(lambda x: x*5, a)) #map(funtion, data)
print(c)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[ 5 10 15 20 25]
[5, 10, 15, 20, 25]

# 錯誤處理 try: except:

In [5]:
def circle(radius):
    try:
        return radius * radius * 3.14
    except:
        return "請輸入數值"

print(circle(10))
print(circle('十'))

314.0
請輸入數值